<!-- template.handlebars -->

<html>

  <head>
    <title>PDF Generation</title>
    <style>
      body { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;
      background-color: #e9f0f5; box-sizing: border-box; } table { width: 100%; border-collapse:
      collapse; } th, td { padding: 8px; text-align: left; border:2px solid white; } .main-banner{
      background-image: url('./images/bannerimage.png'); }
    </style>
  </head>

  <body>
    <div style="padding: 10px 20px"><img src="https://uploads-ssl.webflow.com/64ec4a31ac0e06c538ed737c/64ec4a31ac0e06c538ed738a_lw-logo-white-bg.svg" alt="" /></div>
    <div style="background-image:url('https://uploads-ssl.webflow.com/64ec4a31ac0e06c538ed737c/64ec4a31ac0e06c538ed73ef_enterprise-SEO-bg.webp'); height: auto; width: 100%; border-radius: 0 0 50px 50px; padding:50px 0 50px 0; background-size: cover;" >
      <h1 style="color:#fff; text-align: center; font-size: 40px; margin:0; font-weight: 900;">Website health scorecard</h1>
      <h2 style="color: #78c317; font-size: 25px; text-align: center; font-weight: 900;">{{companyRecord.fields.yourScore}}</h2>
      <div style="background-color:white; margin:0 auto; width:80%; border-top: 5px solid #78c317;  padding: 2.25rem; box-shadow: 0 5px 10px rgba(90, 111, 125, 0.15); border-radius: 0 0 20px 20px;">
        <table style="table-layout: fixed;">
          <tr style="width: 100%">
            <th style="width: 40%;"></th>
            {{#if companyRecord.fields.yourCompiteiter2}}
              <th style="text-align:center">{{companyRecord.fields.yourScore}}</th>
              <th style="text-align:center">{{companyRecord.fields.yourCompiteiter1}}</th>
              <th style="text-align:center">{{companyRecord.fields.yourCompiteiter2}}</th>
            {{else}}
              {{#if companyRecord.fields.yourCompiteiter1}}
                <th style="text-align:center">{{companyRecord.fields.yourScore}}</th>
                <th style="text-align:center">{{companyRecord.fields.yourCompiteiter1}}</th>
              {{else}}
                <th style="text-align:center">{{companyRecord.fields.yourScore}}</th>
              {{/if}}           
            {{/if}}    
          </tr>

          <tr style="width: 100%">
            <td style="width: 40%; background-color: rgb(15, 42, 61); color:white; font-weight:600">{{overallPerformance.fields.Name}}</td>
            {{#if overallPerformance.fields.yourCompiteiter2}}
              <th style="width: 20%; text-align:center; color: {{overallPerformance.fields.yourScoreTextColor}}; background-color: {{overallPerformance.fields.yourScoreBgColor}}; ">{{overallPerformance.fields.yourScore}}</th>
              <th style="width: 20%; text-align:center; color: {{overallPerformance.fields.yourCompiteiter1TextColor}}; background-color: {{overallPerformance.fields.yourCompiteiter1BgColor}};">{{overallPerformance.fields.yourCompiteiter1}}</th>
              <th style="width: 20%; text-align:center; color: {{overallPerformance.fields.yourCompiteiter2TextColor}}; background-color: {{overallPerformance.fields.yourCompiteiter2BgColor}};">{{overallPerformance.fields.yourCompiteiter2}}</th>
            {{else}}
                {{#if overallPerformance.fields.yourCompiteiter1}}
                  <th style="width: 30%; text-align:center; color: {{overallPerformance.fields.yourScoreTextColor}}; background-color: {{overallPerformance.fields.yourScoreBgColor}}; ">{{overallPerformance.fields.yourScore}}</th>
                  <th style="width: 30%; text-align:center; color: {{overallPerformance.fields.yourCompiteiter1TextColor}}; background-color: {{overallPerformance.fields.yourCompiteiter1BgColor}};">{{overallPerformance.fields.yourCompiteiter1}}</th>
                {{else}}
                  <th style="width: 60%; text-align:center; color: {{overallPerformance.fields.yourScoreTextColor}}; background-color: {{overallPerformance.fields.yourScoreBgColor}}; ">{{overallPerformance.fields.yourScore}}</th>
                {{/if}}
            {{/if}}
          </tr>
        </table>
      </div>
    </div>

    <div style="background-color:white; margin:50px auto 0 auto; width:80%; border-top: 5px solid #78c317;  padding: 2.25rem; box-shadow: 0 5px 10px rgba(90, 111, 125, 0.15); border-radius: 0 0 20px 20px;">
    <h2 style="color: #0f2a3d; font-size: 25px; font-weight: 600; margin:0 0 30px 0">SEO Scorecard</h2>
    {{#each tableData}}
      <table style="margin-top:30px">
          <!-- Totals Row -->
          <tr style="width: 100%">
              <th style="width: 40%; background-color: rgb(15, 42, 61); color:white">{{@key}}</th>
              {{#if totals.yourCompiteiter2}}
                  <th style="color: {{totals.yourScoreTextColor}}; background-color: {{totals.yourScoreBgColor}}; text-align: center; width: 20%;" >{{totals.yourScore}}</th>
                  <th style="color: {{totals.yourCompiteiter1TextColor}}; background-color: {{totals.yourCompiteiter1BgColor}}; text-align: center; width: 20%;">{{totals.yourCompiteiter1}}</th>
                  <th style="color: {{totals.yourCompiteiter2TextColor}}; background-color: {{totals.yourCompiteiter2BgColor}}; text-align: center; width: 20%;">{{totals.yourCompiteiter2}}</th>
              {{else}}
                  {{#if totals.yourCompiteiter1}}
                      <th style="color: {{totals.yourScoreTextColor}}; background-color: {{totals.yourScoreBgColor}}; text-align: center; width: 30%;" >{{totals.yourScore}}</th>
                      <th style="color: {{totals.yourCompiteiter1TextColor}}; background-color: {{totals.yourCompiteiter1BgColor}}; text-align: center; width: 30%;">{{totals.yourCompiteiter1}}</th>
                  {{else}}
                      <th style="color: {{totals.yourScoreTextColor}}; background-color: {{totals.yourScoreBgColor}}; text-align: center; width: 60%;" >{{totals.yourScore}}</th>
                  {{/if}}
              {{/if}}
          </tr>

          <!-- Detailed Rows -->
          {{#each details}}
            {{#unless @first}}
              <tr>
                  <td style="background-color: rgb(233, 240, 245); color: rgb(15, 42, 61);">{{fields.Name}}</td>
                  <td style="text-align: center; font-weight:600; color: {{fields.yourScoreTextColor}}; background-color: {{fields.yourScoreBgColor}}">{{fields.yourScore}}</td>
                  {{#if fields.yourCompiteiter1}}
                  <td style="text-align: center; font-weight:600; color: {{fields.yourCompiteiter1TextColor}}; background-color: {{fields.yourCompiteiter1BgColor}};">{{fields.yourCompiteiter1}}</td>
                  {{/if}}
                  {{#if fields.yourCompiteiter2}}
                  <td style="text-align: center; font-weight:600; color: {{fields.yourCompiteiter2TextColor}}; background-color: {{fields.yourCompiteiter2BgColor}};">{{fields.yourCompiteiter2}}</td>
                  {{/if}}
              </tr>
            {{/unless}}
          {{/each}}
      </table>
    {{/each}}
    </div>
    <div
        style="background-color:white; margin:100px auto 30px auto; width:80%;  padding: 2.25rem; box-shadow: 0 5px 10px rgba(90, 111, 125, 0.15); border-radius:20px; page-break-inside: avoid;"
      >
      <h2 style="color: #0f2a3d; font-size: 22px; font-weight: 600; margin:0 0 30px 0">There are some more critical, technical SEO elements which can only be assessed with GA4 and GSC access.</h2>
      <table style="table-layout: fixed;">
        <tr style="background-color: #0f2a3d; color: white; font-size:20px; font-weight:500">
          <th colspan="3">Technical compliance</th>
        </tr>
        <tr>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500">Crawling errors</td>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500"># 404 pages</td>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500"># of pages with Title errors</td>
        </tr>

        <tr>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500"># Non indexed pages</td>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500"># Orphan pages</td>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500"># of pages with Description errors</td>
        </tr>

        <tr>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500">Duplicate content</td>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500">Schema mark up</td>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500"># of pages with Alt tag errors</td>
        </tr>

        <tr>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500">Duplicate/missing Titles</td>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500">Site links & rich snippets</td>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500"># of pages with canonical errors</td>
        </tr>

        <tr>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500">Duplicate/missing Descriptions</td>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500"># of pages with Duplicate content</td>
          <td style="color: #0f2a3d; background-color: #e9f0f5; font-size: 16px; font-weight: 500">Anchor text quality</td>
        </tr>
      </table>
    </div>
    </div>
  </body>
</html>